<div class="TeamSection">
    <div class="Content">
        <div class="Team">
            <div class="Titel">
                <h1>Das Team</h1>
                <p>
                    Unser Team vereint vielseitige Talente und Leidenschaften – von Autos über Sport bis hin zur Technik. 
                    Gemeinsam nutzten wir unsere Stärken, um dieses Projekt bestmöglichst zu realisieren.
                </p>

            </div>
            <div class="Main">
                <div class="Members">
                    <div class="Member Member1">
                        <h2>Benjamin Senti</h2>
                        <h4>Applikationsentwickler und Autoliebhaber</h4>
                        <p> 
                            Benjamin, oder Beni, so wie er von seinen Freunden genannt wird, kannte sich bereits vor dem Projekt am besten von allen 
                            mit Autos aus. Sein Traumauto ist ein Toyota GT 86, wobei dieser Traum schon bald in Erfüllung geht. Seine Kenntisse über Autos 
                            und das Interesse an dieser Branche, machen ihn zu einem wichtigen Mitglied des Teams.
                        </p>
                    </div>
                    <div class="Member Member2">
                        <h2>Simon Hunziker</h2>
                        <h4>Systemtechniker und Tennisprofi</h4>
                        <p> 
                            Simon ist ein überaus sportlicher Mensch und spielt in jeder freien Minute gerne Tennis. Auch abseits des Platzes,
                            erkennt man an seinen immer weissen Tennissocken, dass er ein Tennisprofi sein muss. Mit seinem Ehrgeiz und durchhaltevermögen
                            hat er dem Team immer wieder den richtigen Weg gezeigt.
                        </p>
                    </div>
                    <div class="Member Member3">
                        <h2>Severin Probst</h2>
                        <h4>Applikationsentwickler und stolzer Teslafahrer</h4>
                        <p>
                           Wenn jemand den perfekten Deal auf AutoScout kennt, dann ist es Severin. Wenn er mal nicht nebenbei erwähnen muss, wie gut Teslas sind, 
                           sucht er auf AutoScout sein nächstes Traumauto. "Soll es ein Cabrio sein oder nicht?" ist momentan die Frage. 
                            Seine Erfahrungen mit Elektroautos im Alltag ergänzt das Team und bringt mit seiner Begeisterung für Technik immer wieder neue Ideen.
                        
                        </p>
                    </div>
                    <div class="Member Member4">
                        <h2>Silvan Stöckli</h2>
                        <h4>Applikationsentwickler und ...</h4>
                        <p>
                            Ldiam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita 
                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum  
                            ut labore et dolore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
