<div class="TeamSection">
    <div class="Team"><div class="Titel">
        <h1>Lerne das Team kennen</h1>
    </div>
        <div class="Members">
            <div class="Member">
                <img src="assets/images/team-member-1.jpg" alt="Team Member 1">
                <h2>Max Mustermann</h2>
                <p>Max Mustermann ist ein erfahrener Softwareentwickler und hat bereits an zahlreichen Projekten gearbeitet.</p>
            </div>
            <div class="Member">
                <img src="assets/images/team-member-2.jpg" alt="Team Member 2">
                <h2>Erika Mustermann</h2>
                <p>Erika Mustermann ist eine erfahrene Designerin und hat bereits an zahlreichen Projekten gearbeitet.</p>
            </div>
            <div class="Member">
                <img src="assets/images/team-member-3.jpg" alt="Team Member 3">
                <h2>Max Mustermann</h2>
                <p>Max Mustermann ist ein erfahrener Softwareentwickler und hat bereits an zahlreichen Projekten gearbeitet.</p>
            </div>
            <div class="Member">
                <img src="assets/images/team-member-3.jpg" alt="Team Member 3">
                <h2>Max Mustermann</h2>
                <p>Max Mustermann ist ein erfahrener Softwareentwickler und hat bereits an zahlreichen Projekten gearbeitet.</p>
            </div>
        </div>
    </div>
</div>
