  .podcast-container {
    overflow-y: auto;
    max-height: 89.5vh;
    overflow-x: visible;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  @media (max-width: 1300px) {
    .podcast-container {
        max-height: calc(82.6vh);
    }
  }
  
  .podcast-container::-webkit-scrollbar {
    display: none;
  }
  