.podcast-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
  }
  
  .podcast-container {
    max-height: 89.5vh;
  }

  @media (max-width: 1300px) {
    .podcast-container {
        max-height: calc(80vh);
    }
  }
  
  .podcast-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 100px;
  }
  
  .podcast-container::-webkit-scrollbar-track {
    background: #ffffff83;
    border-radius: 100px;
  }
  
  .podcast-container::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 100px;
  }
  
  .podcast-container::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }
  