  .podcast-container {
    height: 100%;
    box-sizing: border-box;
    overflow-x: visible;
    overflow-y: auto;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  
  .podcast-container::-webkit-scrollbar {
    display: none;
  }
  