<div class="audio-player">
  <div class="audio-player-header">
    <button class="back-button" (click)="this.stateService.isAudioPlayerVisibleSubject.next(false)">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <h2>Spielt gerade</h2>
  </div>

  <div class="audio-player-thumbnail">
    <img [src]="(audioPlayerService.currentPodcast | async)?.image_url" alt="Podcast thumbnail">
  </div>

  <div class="audio-player-info">
    <div class="audio-player-title">
      {{ (audioPlayerService.currentPodcast | async)?.name }}
    </div>
    <div class="audio-player-author">
      By {{ (audioPlayerService.currentPodcast | async)?.author }}
    </div>
  </div>

  <div class="audio-player-controls">
    <input 
      class="audio-player-slider"
      type="range" 
      [value]="audioPlayerService.currentTime | async" 
      [max]="audioPlayerService.duration | async"
      (input)="onSeek($event)"
    >
    
    <div class="audio-player-timeline">
      <span>{{ audioPlayerService.getFormattedCurrentTime() }}</span>
      <span>{{ audioPlayerService.getFormattedDuration() }}</span>
    </div>

    <div class="audio-player-buttons">
      <i class="fas fa-step-backward" (click)="audioPlayerService.playPrevious()"></i>
      <i class="fas" 
        [ngClass]="(audioPlayerService.isPlaying | async) ? 'fa-circle-pause' : 'fa-circle-play'" 
        (click)="audioPlayerService.togglePlayPause()">
      </i>
      <i class="fas fa-step-forward" (click)="audioPlayerService.playNext()"></i>
    </div>
  </div>
</div>
