<div [ngClass]="{'collapsed': isNavbarCollapsed}">
  <div class="main">
    <div class="navbar" [ngClass]="{'visible': !isNavbarCollapsed}">
      <app-navbar></app-navbar>
    </div>
    <div class="overlay" [ngClass]="{'active': !isNavbarCollapsed}" (click)="closeNavbar()"></div>
    <div class="topbar">
      <app-topbar></app-topbar>
    </div>
    <div class="index">
      <router-outlet></router-outlet>
    </div>
    <div class="audioPlayer BorderRadius">
      <app-audio-player></app-audio-player>
    </div>
  </div>
</div>
